<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PC4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PC4</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="display-3 font-weight-bold text-center">PERU FAILS</h1>
            <div class="nav-item d-flex col-12 mt-5 text-center" style="margin-bottom: 5%;">
                <a class=" nav-link text-dark col-3" style="box-shadow: black 0px 0px 2px 2px;" asp-area="" asp-controller="Home" asp-action="NoLogeado">Pagina Principal</a>
                <a class=" nav-link text-dark col-3" style="box-shadow: black 0px 0px 2px 2px;" asp-area="" asp-controller="Usuarios" asp-action="Subir">Subir Fail</a>
                <a class=" nav-link text-dark col-3" style="box-shadow: black 0px 0px 2px 2px;" asp-area="" asp-controller="Usuarios" asp-action="Usuario">Crear Cuenta</a>
                <a class=" nav-link text-dark col-3" style="box-shadow: black 0px 0px 2px 2px;" asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a>
            </div>
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
